.select-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.select-trigger {
  width: 100%;
  padding: 12px 0px 12px 12px;
  background: #1a1a1a;
  color: var(--text-color);
  border: 1px solid #333;
  transition: all 0.3s ease;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #333;
  min-height: 48px;
  width: 100%;
  cursor: text;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #0a0a0a;
  border: 1px solid #333;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;

  z-index: 9999;

  max-height: 250px;
  overflow-y: auto;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.select-dropdown li {
  padding: 12px 16px;
  color: #ccc;
  background: #1a1a1a;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 12pt;
}

.select-dropdown li:hover {
  background: #333;
}

.selected-items {
  padding: 8px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transition: all 0.5s ease;
  justify-content: start;
  align-items: center;
}

.selected-item-container {
  background-color: var(--infested-green);
  border-radius: 10px;
  height: 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
}

.selected-item-container:hover {
  background-color: var(--grineer-red);
}
